/*font-family: 'Ephesis', cursive;
font-family: 'Spartan', sans-serif;
*/
body{
    width: 100%;
    margin:0;
    padding: 0;
    background: rgb(6,0,92);
    background: linear-gradient(120deg, rgba(6,0,92,1) 0%, rgba(9,9,121,1) 50%, rgba(34,0,255,1) 100%);
    font-family: 'Spartan', sans-serif;
}
.menu{
    text-align: center;
    width: 25%;
    height: 100%;
    display: inline-block;
    position: fixed;
    background-color: hsla(1, 100%, 0%, 20%);
}
.user{
    padding-top: 10px;
    color: white;
}.inline{
    display: inline-block;
}
.search{
    width: 90%;
    padding-left: 5%;
    padding-top: 10px;
    color: white;
}
.input{
    width: 300px;
    height: 50px;
    font-size: 15px;
}
.input::placeholder{
    font-family: 'JetBrains Mono', monospace;
    text-transform: uppercase;
    font-size: 15px;
    font-style: italic;
}

.button{
    height: 50px;
}.logout{
    position: relative;
    
    background:white;
    color: black;
    width: 60px;
    height: 60px;
    border-radius:50px;
    margin-left: 5px ;
    font-size: 40px;
}
.footer{
bottom: 0;
}


.center{
    position: absolute;               /* 2 */
    top: 50%;
    left: 50%;                         /* 3 */
    transform: translate(-50%, -50%) }   /* 4 */

.inline{
    display: inline-block;
}


.addonButton{
    position: relative;
    background-color:white;
   
    width: 70%;
    height: 60px;
    color:black;
    font-size: 30px;
    border-radius:50px;
}



.bg-menu{
    position: absolute;
 
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 100%, 0%, 50%);
    transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 10;
}.card.folder{
    width: 23%;
    margin-top: 10px;
    margin-left:20px;
    float: left;
    max-height: 20%;
}
.fileList{
    
    display: inline-block;
    width: 70%;
    margin-left: 26% ;

}