body{
    background: url('imgPack/background.jpg')
}
#form{
    background-color: aqua;
    width: 200px;
    height:500px;
    border-left: brown 1px;
}
form{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
